<%- include ('partials/navbar.ejs') %>
<!-- Hero Section -->
<section id="hero" class="mb-5">
    <div class="container">
        <h1>Bem-vindo à Loja Dinamo</h1>
        <p>Produtos Perfeitos para que suas caçadas BOMBEM!!</p>
        <a href="/Produtos" class="btn btn-light btn-lg mt-3">Ver Produtos</a>
    </div>
</section>

<!-- Carrossel de Produtos -->


<!-- Seção de Opções -->
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div id="card-produtos" class="card bg-danger text-white">
                <div class="card-body">
                    <h5 class="card-title">Produtos</h5>
                    <p class="card-text">Explore nossa lista de produtos.</p>
                    <a href="/Produtos" class="btn btn-light">Ver Produtos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div id="card-pedidos" class="card bg-danger text-white">
                <div class="card-body">
                    <h5 class="card-title">Pedidos</h5>
                    <p class="card-text">Acompanhe e gerencie seus pedidos.</p>
                    <a href="/Pedidos" class="btn btn-light">Ver Pedidos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div id="card-clientes" class="card bg-danger text-white">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Gerencie seus clientes e informações.</p>
                    <a href="/Clientes" class="btn btn-light">Ver Clientes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>